@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.75vw;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: white;
}

#navbar {
  height: 5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar ul {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  background-color: white;
  height: 100%;
}

#navbar ul li {
  list-style: none;
}

#navbar ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: 700;
}

body div {
  scroll-margin-top: 5em;
}

#welcome-section {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
  text-align: center;
  text-transform: uppercase;
}

#welcome-section h1 {
  margin: 0 2em;
  font-size: 8vw;
  display: grid;
  align-items: start;
}

.welcome {
  margin: 0;
  font-size: 2vw;
  font-weight: 700;
  display: grid;
  align-items: end;
}

.project {
  text-transform: uppercase;
  text-align: center;
  font-size: 10vw;
}

.project-tile {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  grid-gap: 5em;
}

.project-tile a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.project-tile a img {
  width: 30em;
}

.project-tile a h1 {
  font-size: 3vw; 
  margin: 1em;
}

#socmed {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}

#socmed a {
  color: white;
  text-decoration: none;
}

#socmed a img {
  width: 10em;
}

#socmed a h1 {
  font-size: 8vw;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .welcome {
    font-size: 3vw;
  }
  
  #welcome-section h1 {
    margin: 0;
    font-size: 10vw;
  }
  
  .project-tile {
    grid-template-columns: 1fr;
  }
}